GITEA_DATA_PATH=
GITEA_TZ_PATH=
GITEA_LT_PATH=

GITEA_DATABASE_PATH=
GITEA_DATABASE=
GITEA_DATABASE_USER=
GITEA_DATABASE_PASSWORD=

SONAR_DATA_PATH=
SONAR_EXTENSIONS_PATH=
SONAR_LOGS_PATH=
SONAR_TMP_PATH=

SONAR_DATABASE_PATH=
SONAR_DATABASE=
SONAR_DATABASE_USER=
SONAR_DATABASE_PASSWORD=