MEDIA_SERIES_PATH=
MEDIA_MOVIES_PATH=
MEDIA_ANIME_PATH=
MEDIA_DOWNLOADS_PATH=

JELLYFIN_CONFIG_PATH=
SONARR_CONFIG_PATH=
RADARR_CONFIG_PATH= 
SEERR_CONFIG_PATH=
TORRENT_CONFIG_PATH=
PROWLARR_CONFIG_PATH=
JACKETT_CONFIG_PATH=