MEDIA_SERIES_PATH=
MEDIA_MOVIES_PATH=
MEDIA_ANIME_PATH=
MEDIA_DOWNLOADS_PATH=

JELLYFIN_CONFIG_PATH=
SONARR_CONFIG_PATH=
RADARR_CONFIG_PATH= 
SEERR_CONFIG_PATH=
TORRENT_CONFIG_PATH=
PROWLARR_CONFIG_PATH=
JACKETT_CONFIG_PATH=

CONFIGARR_CONFIG_PATH=
CONFIGARR_REPOS_PATH=
CONFIGARR_CUSTOM_CFS_PATH=
CONFIGARR_CUSTOM_TEMPLATES=

SUBGEN_ENV_PATH=
SUBGEN_MODEL_PATH=
SUBGEN_TOKEN=

LINGARR_DATABASE_PATH=
LINGARR_DATABASE=
LINGARR_DATABASE_USER=
LINGARR_DATABASE_PASSWORD=
LINGARR_DATABASE_ROOT_PASSWORD=

LINGARR_CONFIG_PATH=

CLEANUPARR_CONFIG_PATH=