BOOKSTACK_BASE_URL=
BOOKSTACK_APP_KEY=
BOOKSTACK_CONFIG_PATH=

BOOKSTACK_DATABASE_CONFIG_PATH=
BOOKSTACK_DATABASE=
BOOKSTACK_DATABASE_USER=
BOOKSTACK_DATABASE_PASSWORD=
BOOKSTACK_DATABASE_ROOT_PASSWORD=

WIKI_DATA_PATH=
WIKI_DATABASE_USER=
WIKI_DATABASE_PASSWORD=
WIKI_DATABASE=

OUTLINE_DATABASE_USER=
OUTLINE_DATABASE_PASSWORD=
OUTLINE_DATABASE=
OUTLINE_DOMAIN=

TRILLIUM_DATA_PATH=

NEXTAUTH_SECRET=super_random_string
MEILI_MASTER_KEY=another_random_string
NEXTAUTH_URL=http://localhost:3000

OPENAI_BASE_URL=http://ollama.mylab.com:11434/v1
INFERENCE_TEXT_MODEL=text-model
INFERENCE_IMAGE_MODEL=image-model