BOOKSTACK_BASE_URL=
BOOKSTACK_APP_KEY=
BOOKSTACK_DATABASE=
BOOKSTACK_DATABASE_USER=
BOOKSTACK_DATABASE_PASSWORD=
BOOKSTACK_DATABASE_ROOT_PASSWORD=

WIKI_DATABASE_USER=
WIKI_DATABASE_PASSWORD=
WIKI_DATABASE=

OUTLINE_DATABASE_USER=
OUTLINE_DATABASE_PASSWORD=
OUTLINE_DATABASE=
OUTLINE_DOMAIN=